<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microplastic Map</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <header>
        Microplastic Pollution Mapping in Laguna de Bay
    </header>

    <div class="map-container">
        <div id="map"></div>

        <!-- Date Range Slider -->
        <div id="slider-range" class="slider-modern"></div>
        <p class="slider-label">
            <span id="amount" class="amount-display"></span>
        </p>
    </div>

    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
